* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    width: 20%;
    height: 100vh;
    background-color: #BD5D38;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
}
header img {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    border: 10px solid #CA7D60;
}
.li {
    list-style: none;
    display: flex;
    padding-top: 1rem;
    justify-content: center;
}
a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
a:hover {
    color: #eedaca;
}
.sec1 {
    width: 100%;
    height: 100vh;
    padding-left: 20rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    border: 0px 0px 1px 0px solid black;
}
.sec1 h1 {
    font-size: 3rem;

}
.sec1 h1 code {
    font-size: 3rem;
    color: #BD5D38;
}
.sec1 span {
    margin-top: -2rem;
    font-size: 1rem;
}
.a1 {
    color: #CC5D38;
}
.a1:hover {
    color: #5c3c31;
}
.sec1 span {
    font-size: 1.1rem;
    color: #788283;
}
.sec1 p {
    font-size: 1.3rem;
    color: #8D757D;
}
.sec1 i {
    display: flex;
    gap: 2rem;
}
.sec1 i i {
    font-size: 3rem;
    border-radius: 50%;
    background-color: #232930;
    color: white;
}
.sec1 i i:hover {
    cursor: pointer;
    background-color: #BD5D38;
}
hr {
    color: #DADCDE;
}
.sec2 {
    width: 100%;
    height: 180vh;
    padding-left: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}
.div1 {
    width: 95%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}
.div1 h1 {
    width: 100%;
    font-size: 2.5rem;
}
.div1 span {
    font-size: 1rem;
    color: #343636;
    margin-top: -3vh;
}
.div1 p {
    color: #788283;
    width: 82%;
    font-size: 1.1rem;
}
.div2 {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.div2 h2 {
    font-size: 1.5rem;
}
.div2 span {
    color: #BD5D38;
    font-size: 1.1rem;
    margin-top: 1%;
}
.div3 {
    width: 95%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.div3 span {
    font-size: 1rem;
    color: #343636;
    margin-top: -3vh;
}
.div3 p {
    color: #788283;
    width: 82%;
    font-size: 1.1rem;
}
.div4 {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.div4 h2 {
    font-size: 1.5rem;
}
.div4 span {
    color: #BD5D38;
    font-size: 1.1rem;
    margin-top: 1%;
}
.div5 {
    width: 95%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.div5 span {
    font-size: 1rem;
    color: #343636;
    margin-top: -3vh;
}
.div5 p {
    color: #788283;
    width: 77%;
    font-size: 1.1rem;
}
.div6 {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.div6 h2 {
    font-size: 1.5rem;
}
.div6 span {
    color: #BD5D38;
    font-size: 1.1rem;
    margin-top: 1%;
}
.div7 {
    width: 95%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.div7 span {
    font-size: 1rem;
    color: #343636;
    margin-top: -3vh;
}
.div7 p {
    color: #788283;
    width: 70%;
    font-size: 1.1rem;
}
.div8 {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.div8 h2 {
    font-size: 1.5rem;
}
.div8 span {
    color: #BD5D38;
    font-size: 1.1rem;
    margin-top: 1%;
}
.sec3 {
    width: 100%;
    height: 100vh;
    padding-left: 20rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.div9 {
    width: 95%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}
.div9 h1 {
    width: 100%;
    font-size: 2.5rem;
}
.div9 span {
    font-size: 1rem;
    color: #343636;
}
.div9 p {
    color: #788283;
    width: 35%;
    font-size: 1.1rem;
}
.div10 {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.div10 h1 {
    width: 50%;
    font-size: 1.5rem;
}
.div10 span {
    color: #BD5D38;
    font-size: 1.1rem;
    margin-top: 1%;
}
.div11 {
    width: 95%;
    height: 6vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}
.div11 h1 {
    width: 100%;
    font-size: 2.5rem;
}
.div11 span {
    font-size: 1rem;
    color: #343636;
}
.div11 p {
    color: #788283;
    width: 35%;
    font-size: 1.1rem;
}
.div12 {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}
.div12 h1 {
    width: 50%;
    font-size: 1.5rem;
}
.div12 span {
    color: #BD5D38;
    font-size: 1.1rem;
    margin-top: 1%;
}

.sec4 {
    width: 100%;
    height: 100vh;
    padding-left: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.sec4 h1 {
    font-size: 3rem;
}

.img1 {
    width: 50vh;
    display: flex;
    gap: 1rem;
}
.img1 img {
    width: 2.7rem;
}
.ul1 {
    list-style: none;
    color: #788283;
}
.ul1 li {
    color: #788283;
    font-size: 1.1rem;
}
.ul1 li i {
    padding-left: 1rem;
}
.sec4 span {
    color: #788283;
    font-size: 1.3rem;
}
.sec5 {
    width: 100%;
    height: 100vh;
    padding-left: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.sec5 h1 {
    font-size: 2rem;
}
.sec5 p {
    width: 95%;
    font-size: 1.2rem;
    color: #788283;
}
.sec6 {
    width: 100%;
    height: 100vh;
    padding-left: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
}
.sec6 ul li {
    list-style: none;
    padding-left: 2rem;
    font-size: 1.1rem;
    color: #788283;
}
.sec6 ul i {
    color: #FFC107;
}
.sec6 h1 {
    font-size: 2rem;
}